{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["import"],
  "extends": ["plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-eval": "error",
    "import/first": "error",
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "functions": "never"
      }
    ],
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used" }]
  },
  "parser": "babel-eslint"
}
