@import '../../../../design-tokens/scss-variables.scss';

.infoText {
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 2.2em;
  display: flex;
  flex-direction: column;
  .green {
    font-family: 'Montserrat Bold', sans-serif;
    color: $mainGreen;
  }

  .blue {
    font-family: 'Montserrat Bold', sans-serif;
    color: $mainBlue;
  }
}

.techImg {
  width: 35em;
}

.mainBlue {
  color: $mainBlue;
  font-family: 'Montserrat ExtraBold', sans-serif;
  font-size: 3em;
}
.mainGreen {
  color: $mainGreen;
  font-family: 'Montserrat ExtraBold', sans-serif;
  font-size: 3em;
}

.infoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.woloxersWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.container_twitter {
  align-items: center;
  color: $mainWhite;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.twitter_logo {
  margin-right: 1em;
  width: 2em;
}

.backgroundImage {
  align-items: center;
  justify-content: center;
  background-image: url(../../../../../public/assets/images/img_woloxer.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1.8;
  padding: 20px;
}

.workFor {
  align-items: center;
  background: $secondaryWhite;
  display: flex;
  flex-direction: column;
  padding: 4em 5.5em;
  flex: 1;
}
